// Amber-s 9
$amber:                 	#f90    !default;
$amber-dark:            	#995c00 !default;
$amber-darker:          	#4c2e00 !default;
$amber-light:           	#ffc266 !default;
$amber-lighter:         	#ffd699 !default;
$amber-dull:           	  #d68e22 !default;
$amber-duller:         	  #b38642 !default;
$amber-bright:            #ffb84d !default;
$amber-brighter:        	#ffd391 !default;
$amber-queen:        	    #f1995a !default;
$amber-flame:       		  #f9b465 !default;
$amber-sands:    		      #f7a955 !default;
$amber-bark:    			    #ffb448 !default;
