// Blue- 32
$blue:             		  #06f    !default;
$blue-dark:         		#003d99 !default;
$blue-darker:       		#002966 !default;
$blue-light:        		#4d94ff !default;
$blue-lighter:      		#80b2ff !default;
$blue-dull:         		#06c    !default;
$blue-duller:       		#369    !default;
$blue-bright:       		#39f    !default;
$blue-brighter:     		#70b8ff !default;
$blue-airforce:         #5d8aa8 !default;
$blue-azure:        		#007fff !default;
$blue-baby:        		  #89cff0 !default;
$blue-french:        	  #318ce7 !default;
$blue-celeste:        	#b2ffff !default;
$blue-columbia:         #75b2dd !default;
$blue-sky:        		  #73c2fb !default;
$blue-midnight:         #191970 !default;
$blue-navy:        		  #000080 !default;
$blue-royal:        		#4169e1 !default;
$blue-sapphire:         #0f52ba !default;
$blue-steel:        		#4682b4 !default;
$blue-behance:        	#053eff !default;
$blue-dropbox:        	#3d9ae8 !default;
$blue-facebook:         #3b5998 !default;
$blue-flickr:        	  #0063dc !default;
$blue-foursquare:       #25a0ca !default;
$blue-linkedin:         #0e76a8 !default;
$blue-rdio:        		  #008fd5 !default;
$blue-skype:        		#00aff0 !default;
$blue-twitter:        	#55acee !default;
$blue-vimeo:        		#86c9ef !default;
$blue-virb:        		  #06afd8 !default;
$blue-sea:        		  #668ebf !default;
$blue-babe:        		  #96b5d4 !default;
$blue-reflection:       #9ab7b3 !default;
$blue-holiday:        	#0097c8 !default;
$blue-stonewash:        #648e9c !default;
$blue-cyan:      		    #36a0ca !default;
$blue-sapphire:    		  #2c405b !default;
$blue-lake:        		  #476a88 !default;
$blue-breton:        	  #4d5965 !default;
$blue-seduction:        #4c84b8 !default;
$blue-cloud:      	  	#6883b6 !default;
$blue-zurb:        	  	#2ba6cb !default;
