// Turquoise 9
$turquoise:              #48e8c8 !default;
$turquoise-dark:         #00997a !default;
$turquoise-darker:       #006652 !default;
$turquoise-light:        #6be8cf !default;
$turquoise-lighter:      #8ee8d6 !default;
$turquoise-dull:         #52ccb4 !default;
$turquoise-duller:       #69b8a8 !default;
$turquoise-bright:       #0fc    !default;
$turquoise-brighter:     #80ffe6 !default;
$turquoise-teal:   		   #01969c !default;
$turquoise-dawn:   		   #35afba !default;
$turquoise-crystal:   	 #2ba8a8 !default;
